name: Minify & Deploy
on: [push]
jobs:
  minify:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Minify HTML/CSS/JS
      uses: amireshoon/minifyAction@main
    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./
